.notFound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
  font-family: roboto;
}

.not-found-paragraph {
  color: #616e7c;
  margin-right: 45px;
  margin-left: 45px;
}

@media screen and (max-width: 300px) {
  .notFound {
    width: 100%;
  }
}
@media screen and (min-width: 300px) {
  .notFound {
    height: 300px;
  }
}
